.head-wrapper {
  width: 100%;
  min-height: 512px;
  background-color: #81b3d2;
}
.head-wrapper h1 {
  display: none;
}
.main-nav {
  padding: 0 6%;
  min-height: 56px;
}
.main-nav__nav-list {
  position: relative;
  min-height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}
.main-nav__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
  min-width: 153px;
  min-height: 56px;
}
.main-nav__item--left {
  justify-content: flex-start;
}
.main-nav__item--right {
  justify-content: flex-end;
}
.main-nav__item--center {
  justify-content: center;
}
.main-nav__item a {
  text-align: center;
}
.main-nav__item a:hover {
  color: #81b3d2;
}
.main-nav__item a:active {
  color: #808080;
}
/*.logo {
  position: absolute;
  top: 0px;
  left: 306px;
  display: block;
  width: 156px;
  height: 66px;

  line-height: 56px;
  text-align: center;
  vertical-align: middle;
}*/
.main-block-header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 26px;
}
.main-block-header-wrapper__main-block-header {
  width: 57%;
}
.main-block-header-wrapper__describe {
  text-align: center;
}
.reasons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}
.reason-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 33%;
  min-height: 256px;
  background-color: #eeeeee;
}
.reason-block__header,
.reason-block__number,
.reason-block__describe {
  width: 177px;
  text-align: center;
}
.reason-block--main-reason {
  color: #fff;
  background-color: #81b3d2;
}
.reason-illustrate {
  flex-grow: 2;
  width: 67%;
  min-height: 256px;
}
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 33%;
  min-height: 256px;
}
.feature__header,
.feature__describe {
  width: 177px;
  text-align: center;
}
.hotel-search {
  min-height: 293px;
}
.hotel-search__header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hotel-search__header {
  font-size: 2.15rem;
}
.hotel-search__header,
.hotel-search__describe {
  width: 57%;
  line-height: 1.15rem;
  text-align: center;
}
.hotel-search .btn {
  display: block;
  text-align: center;
  color: #fff;
}
.hotel-search .btn--show-search-form {
  width: 568px;
  padding: 32.5px;
  font-size: 21px;
  background-color: #766357;
}
.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 120px;
  background-color: rgba(255, 255, 255, 0.5);
}
.hashtag {
  width: 136px;
}
.hashtag__describe {
  font-size: 1.5rem;
}
.social-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 152px;
}
.social-btn {
  display: block;
  width: 46px;
  height: 48px;
  font-size: 0;
  background-color: #81b3d2;
}
.social-btn:hover {
  background-color: #5b9cc5;
}
html {
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #000;
  text-transform: uppercase;
}
body {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 768px;
}
h1 {
  margin: 0;
  text-align: center;
}
h2 {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}
h3 {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}
h4 {
  margin: 0;
  font-size: 1rem;
  text-align: center;
}
p {
  font-weight: 400;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-align: center;
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #81b3d2;
}
a:active {
  color: #808080;
}
