.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 120px;
}

.hashtag {
  width: 136px;
  &__describe {
    font-size: @font-size--footer-hashtag;
  }
}
