.main-block-header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 215px;

  line-height: 26px;

  background-color: @color-white;

  &__main-block-header {
    width: 440px;
  }

  &__describe {
    text-align: center;
  }
}

.reasons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.reason-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 33%;
  min-height: 256px;

  background-color: @color-gray;

  &__header,
  &__number,
  &__describe {
    width: 177px;

    text-align: center;
  }

  &--main-reason {
    color: @text-color--alt;

    background-color: @color-blue;
  }
}

.reason-illustrate {
  flex-grow: 2;
  width: 67%;
  min-height: 256px;

  overflow: hidden;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 33%;
  min-height: 332px;

  background-color: @color-white;

  &__icon-wrapper {
    margin-bottom: 20px;
  }

  &__icon {
    width: 75px;
    height: 72px;
  }

  &__header,
  &__describe {
    width: 177px;

    text-align: center;
  }
}

.hotel-search {
  min-height: 293px;

  background-color: @color-white;

  &__header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 291px;
  }

  &__header {
    font-size: @font-size--hotel-search-h2;
  }

  &__header,
  &__describe {
    width: 57%;

    line-height: @line-height--hotel-search-h2;
    text-align: center;
  }

  .btn {
    display: block;

    text-align: center;
    color: @color-white;

    &--show-search-form {
      width: 568px;
      padding: 32.5px 0;

      font-size: 21px;
      background-color: @color-brown;
    }
  }
}

.hotel-search-result-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
  padding: 0 6%;
  min-height: 89px;

  background-color: @color-white;

  &__head {
//    margin: 0;
//    height: 22px;
//    width: 155px;
    margin-right: 30px;
    width: 150px;

    text-align: left;
    line-height: 89px;
    vertical-align: middle;
  }
}

.hotel-sort {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: center;
  width: 82%;
//  height: 22px;

  &__head {
//    margin: 0;
//    height: 22px;
//    width: 75px;
    margin-right: 30px;

    text-align: left;
    font-size: @font-size--hotel-sort;
    line-height: @line-height--hotel-sort;
    vertical-align: middle;
  }

  &__list-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 100%;
  }

  &__list-one,
  &__list-two {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 50%;
    min-width: 249px;
  }

  &__link {
    font-weight: @font-weight;
    color: @color-gray--dark;

    border-bottom: 1px dotted @color-blue;

    &--active {
      color: @color-blue;

      border-bottom: none;
    }

    &--increase,
    &--decrease {
      position: relative;
      font-size: 0px;
    }

    &--increase {
      &::after {
        position: absolute;
        left: -20px;
        content: "\25b2";

        font-size: @html-size-base;
      }
    }

    &--decrease {
      &::after {
        position: absolute;
        content: "\25bc";

        font-size: @html-size-base;
      }
    }
  }

  &__list-one {
    justify-content: space-between;
  }

  &__list-two {
    justify-content: flex-end;
  }
}
